body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
}

h1,
h2,
h4,
form {
    text-align: center;
}

/* ul {
    list-style-type: none;
    padding: none;
    margin: 0;
} */

h1,
h2,
strong {
  color: #333;
}

a {
    color: #007faa;
}

li {
    background: #f4fffd;
}