<style>
    /* Stil für das select-Element */
    select {
      max-width: 200px; /* Setze die maximale Breite nach Bedarf */
    }
    
    /* Stil für die Optionen im Dropdown */
    option {
      max-width: 100px; /* Setze die maximale Breite nach Bedarf */
      overflow-wrap: break-word;
    }
    
    .toggle{
      position: absolute;
      top: 95px; /* Abstand vom oberen Rand */
      right: -70px; /* Abstand vom rechten Rand */
      z-index: 999;
    }
    
    .toggle + .toggle {
      margin-right: 175px;
    }
    .toggle label {
      position: relative;
      display: inline-block;
      width: 15em;
      height: 3.5em;
    }
    
    .toggle input {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
     
    .toggle .slider { /* Grundfläche */
      position: absolute;
      cursor: pointer;
      top: 1.5em; 
      left: 3em;
      width: 4em;
      height: 2em;
      background-color: #c32e04; 
      border-radius: 1em; 
      transition: all .3s ease-in-out;
    }
     
    .toggle  .slider::before {  /* verschiebbarer Button */
      position: absolute;
      content: "";
      height: 1.6em;
      width: 1.6em;
      left: .2em;
      bottom: .2em;
      background-color: white;
      border-radius: 50%;
      transition: all .3s ease-in-out;
    }
    
    .toggle input:checked + .slider {
      background-color: #5a9900; 
    }
     
    .toggle  input:checked + .slider::before {
      transform: translateX(1.9em);
    }
     /* Dropdown Button */
     .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
    }
    
    /* The search field */
    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 100px;
    }
    
    /* The search field when it gets focus/clicked on */
    #myInput:focus {outline: 3px solid #ddd;}
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      margin-right: 75px; 
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      border: 1px solid #ddd;
      z-index: 1;
      max-width: 300; 
    }
    
    .dropdown-content>select{
        max-width: 50px;
    }
    .dropdown-content> select > option:checked {
                color: grey;
            }
    
    /* Links inside the dropdown */
    .dropdown-content > select > option {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content option:hover {background-color: #f1f1f1}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;} 
    
    
    .picture-container {
                display: flex;
                align-items: left;
            }
    
    .picture-image {
                max-width: 400px; /* oder eine andere maximale Breite, die deinem Layout entspricht */
                margin-right: 40px; /* Abstand zwischen Bild und Text */
                margin-left: 20px;
            }
    
    .picture-text {
                max-width: 500px;
                padding: 20px;
                height: 200px; /* Höhe des Inhalts anpassen, um das Scrollen zu ermöglichen */ /* oder eine andere maximale Breite, die deinem Layout entspricht */
                color: white;
                overflow-y: auto;
                scrollbar-width: thin; /* Firefox */
                scrollbar-color: darkgray lightgray; 
            }
    
    .review-container {
                background-color: #588bba;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                width : 200 px
            }
    
    .content-container {
                background-color: white;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
            }
            
    
            .review-header {
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 10px;
                color: white;
            }
    
            .review-content {
                line-height: 1.6;
            }
    
    
    .like-area {
            float: left;
            border-style: none;
        }
        
        .like-area:not(:checked) > input {
            position: fixed;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
        }
        
        .like-area:not(:checked) > label {
            float: right;
            width: 0.8em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 180%;
            color: lightgrey;
        }
        
        .like-area:not(:checked) > label:before {
            content:"♥";
        }
        
        .like-area > input:checked ~ label {
            color: red;
        }
        
        .like-area:not(:checked) > label:hover,
        .like-area:not(:checked) > label:hover ~ label {
            color: red;
        }
        
        .like-area > input:checked + label:hover,
        .like-area > input:checked + label:hover ~ label,
        .like-area > input:checked ~ label:hover,
        .like-area > input:checked ~ label:hover ~ label,
        .like-area > label:hover ~ input:checked ~ label {
            color: red;
        }
    label{
        grid-column: 1 / 2;
    }
    
    label ::before{
        grid-column: 1 / 2;
    }
    
        .rate-area {
            float: left;
            border-style: none;
        }
        
        .rate-area:not(:checked) > input {
            position: fixed;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
        }
        
        .rate-area:not(:checked) > label {
            float: right;
            width: 0.8em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 180%;
            color: lightgrey;
        }
        
        .rate-area:not(:checked) > label:before {
            content: "★";
        }
        
        .rate-area > input:checked ~ label {
            color: gold;
        }
        
        .rate-area:not(:checked) > label:hover,
        .rate-area:not(:checked) > label:hover ~ label {
            color: gold;
        }
        
        .rate-area > input:checked + label:hover,
        .rate-area > input:checked + label:hover ~ label,
        .rate-area > input:checked ~ label:hover,
        .rate-area > input:checked ~ label:hover ~ label,
        .rate-area > label:hover ~ input:checked ~ label {
            color: gold;
        }
        
    </style>
    
    {% extends "flask_user_layout.html" %}
    {% block content %}
    
    <div class="container">
        <h2>Movies</h2>
    
        {% for m, mid, imid, tmbid, link, tag, content, rating, reviews in results %}
            <div class="panel panel-default" >
                <div class="panel-heading"><b>{{ m.title }}</b>
                    <a href={{mid}} target="_blank">&nbsp;  &nbsp; &nbsp;  MOVIELENS  &nbsp; </a>
                    <a href={{imid}} target="_blank">  &nbsp; IMDB &nbsp;  </a>
                    <a href={{tmbid}} target="_blank"> &nbsp;  TMDB &nbsp;  </a>
    
                </div>
                 
                <div class="panel-body">
                    <p>
                        {% for g in m.genres %}
                            <span class="label label-default" style="background-color: yellowgreen;">{{ g.genre }}</span>
                        {% endfor %}  
    
                        {% for t in tag %}
                        <span class="label label-default" style="background-color: goldenrod;">{{ t }}</span>
                        {% endfor %}
                    </p>
    
                    <div class="like-area">  
                        {% set checked = (m.id in faves)%}
                        <input type="checkbox" id="like_{{ m.id }}" {% if checked == True%} checked {% endif %} name="like_{{ m.id }}"onclick="likeMovie('{{ m.id }}')"> <label for="like_{{ m.id }}"></label>
                    </div>
    
                    <div class="rate-area">
                        <input type="radio" id="5-star_{{ m.id }}" name="rating_{{ m.id }}" value="5" {% if 5 == rating.rating_value%} checked {% endif %}onclick="rateMovie('{{ m.id }}')" /><label for="5-star_{{ m.id }}" title="Amazing">5 stars</label>
                        <input type="radio" id="4-star_{{ m.id }}" name="rating_{{ m.id }}" value="4" {% if 4 == rating.rating_value%} checked {% endif %}onclick="rateMovie('{{ m.id }}')" /><label for="4-star_{{ m.id }}" title="Good">4 stars</label>
                        <input type="radio" id="3-star_{{ m.id }}" name="rating_{{ m.id }}" value="3" {% if 3 == rating.rating_value%} checked {% endif %}onclick="rateMovie('{{ m.id }}')" /><label for="3-star_{{ m.id }}" title="Average">3 stars</label>
                        <input type="radio" id="2-star_{{ m.id }}" name="rating_{{ m.id }}" value="2" {% if 2 == rating.rating_value%} checked {% endif %}onclick="rateMovie('{{ m.id }}')" /><label for="2-star_{{ m.id }}" title="Not bad">2 stars</label>
                        <input type="radio" id="1-star_{{ m.id }}" name="rating_{{ m.id }}" value="1" {% if 1 == rating.rating_value%} checked {% endif %}onclick="rateMovie('{{ m.id }}')" /><label for="1-star_{{ m.id }}" title="Terrible">1 stars</label>
                    </div>
    
                        
                    <div class="picture-container">
                        <div class="picture-image"> 
                        <img src={{link}} alt="Imagine a poster of the movie {{m.title}} would be here" width="150"> </div>
                        <div class="review-container">
                        <div class="review-header"> Reviews</div>
                        
                        
                        <div class="picture-text">
                        
                        {% for r in reviews %}
                        <div class="review-container"> 
                            
                            <p><b>{{r}}</b></p>
                            
                        </div>
                        {% endfor %}
    
    
                        </div>
                        
    
                        </div>
                    </div>
                        
    
    
                <div class="content-container">
                </p> {{content}} </p>
                </div>
    
                </div>
                <div class="panel-footer">          
                </div>
            </div>
        {% endfor %}
    
    </div>
    
    
    
    <script>
        function toggleDropdown(category) {
            document.getElementById("myDropdown"+category).classList.toggle("show");
        }
    
        function filterFunction(category) {
            var input, filter, div, optionList, i;
            console.log("myInput"+category);
            input = document.getElementById("myInput"+category);
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown"+category);
            optionList = div.getElementsByTagName("option");
            var matchedElements = [];
    
            for (i = 0; i < optionList.length; i++) {
                var txtValue = optionList[i].textContent || optionList[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    optionList[i].style.display = "";
                    matchedElements.push(optionList[i]); 
                } else {
                    optionList[i].style.display = "none";
                }
            }
    
            var genreDropdown = document.getElementById(category+"Dropdown");
            var newGenre = matchedElements[0].value;
            genreDropdown.value = newGenre;
        }   
    
        function rateMovie(movieId) {
            var rating = document.querySelector('input[name="rating_' + movieId + '"]:checked').value;
    
            // Use Fetch to asynchronously send the rating to the server
            fetch('/rate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'movie_id=' + movieId + '&rating=' + rating,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log(data); // Process the server response here
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
    
    
        function likeMovie(movieId) {
          // Use Fetch to asynchronously send the rating to the server
          fetch('/like', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: 'movie_id=' + movieId,
          })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.text();
          })
          .then(data => {
              console.log(data); // Process the server response here
          })
          .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
          });
      }
    
    
      function getSelectedValue(selector) {
        var selectedOption = document.querySelector(selector + ':checked');
        
        // Check if a checked option exists
        if (selectedOption) {
            return selectedOption.value;
        } 
        else {
            return '0';
        }
    }
      function ApplyFilter(user_id){
    
        // code sowas wie wenn null oder mit if nacch checked suchen 
        console.debug("FILTER BUTTON PRESSED")
    
        var tag = getSelectedValue('option[name="selected_tag"]');
        var genre = getSelectedValue('option[name="selected_genre"]');
        var number = getSelectedValue('option[name="selected_number"]');
        var algorithm = getSelectedValue('option[name="selected_algorithm"]');
        var title = getSelectedValue('option[name="selected_title"]'); 
        var rating = getSelectedValue('option[name="rating_filter"]');
        var include = getSelectedValue('option[name="include"]');
        var allFilters = getSelectedValue('option[name="all_filters"]');
    
        console.debug("GET VALUES")
        console.debug(tag, genre, number, algorithm, title, rating, include, allFilters)
    
    
        // Use Fetch to asynchronously send the rating to the server
        fetch('/recommend', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'user_id=' + user_id + '&tag=' + tag + '&genre=' + genre + '&number=' + number + '&algorithm=' + algorithm,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            console.log(data); // Process the server response here
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
        }
    
        
    </script>
    
    
    {% endblock %}