{% extends "flask_user_layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<div id="filterView"></div>

<br> 
<br>

<div class="dropdown">
    <button onclick="toggleDropdown('Tag')" class="dropbtn">Tags</button>
    <div id="myDropdownTag" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInputTag" onkeyup="filterFunction('Tag')">
        

            <select multiple id="TagDropdown" class="Selector">
            {% for tag in tag_list %}
                    <option name="selected_Tag" value="{{ tag }}"> {{ tag }} </option>
            {% endfor %}
            </select>
    </div>
</div>

<div class="dropdown">
    <button onclick="toggleDropdown('Genre')" class="dropbtn">Genre</button>
    <div id="myDropdownGenre" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInputGenre" onkeyup="filterFunction('Genre')">

            <select id="GenreDropdown" class="Selector" multiple>
            {% for genre in genre_list %}
                    <option name="selected_Genre" value="{{ genre }}"> {{ genre }} </option>
            {% endfor %}
            </select>
    </div>
</div>

<div class="dropdown">
    <button onclick="toggleDropdown('NrRec')" class="dropbtn">How many?</button>
    <div id="myDropdownNrRec" class="dropdown-content">

            <select id="NrRecDropdown" multiple class="Selector">
            {% for i in range(1,31) %}
                    <option name="selected_NrRec" value="{{ i }}"> {{ i }} </option>
            {% endfor %}
            </select>
    </div>
</div>

<div class="dropdown">
    <button onclick="toggleDropdown('Algorithm')" class="dropbtn">Recommendation</button>
    <div id="myDropdownAlgorithm" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInputAlgorithm" onkeyup="filterFunction('Algorithm')">

            <select id="AlgorithmDropdown" class="Selector" multiple>
            {% set algorithm = ["Other Users also liked","Similar to other movies you've watched", "Best rated movies" ] %}
            {% for i in algorithm %}
                    <option name="selected_Algorithm" value="{{ i }}"> {{ i }}</option>
            {% endfor %}
            </select>
    </div>
</div>

<div class="dropdown">
    <button onclick="toggleDropdown('Title')" class="dropbtn">Specific title?</button>
    <div id="myDropdownTitle" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInputTitle" onkeyup="filterFunction('Title')">


            <select multiple id="TitleDropdown" class="Selector">
            {% for t, d in item_list %}
                    <option name="selected_Title" value="{{ t }}" data-description="{{d}}"> {{ t }}</option>
            {% endfor %}
            </select>

    </div>
</div>

<div class="toggle">
    <label> Include rated movies
        <input type="checkbox" name="include"> <span class="slider"></span> </label>
</div>

<br> 
<br> 

<button onclick="ApplyFilter('{{user_id}}')">Apply filter options</button>




<div class="container sort-container">
    <div id="sort_mode_container">
        <input type="checkbox" id="sort_mode" name="sort_mode">
        <label id="sort_mode_label" for="sort_mode">Ascending</label>
    </div>
    <div class="select-wrapper">
        <label for="select">Sort by</label>
        <select id="sort_by" name="sort_by">
            <option value="default">Default</option>
            <option value="release_date">Release date</option>
            <option value="runtime">Runtime</option>
            <option value="mean_rating">Mean rating</option>
            <option value="title">Title</option>
        </select>
    </div>
</div>
  

<div id="movie_list" class="container">
    {% for m,tags,rating,watchlisted,avg_rating,probabilities in movies_and_tags %}
        <div class="panel">
            
            <div class="panel-heading">
                <div class="watchlist pull-left">
                    {% if watchlisted%}
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" data-status="0">♥</a>
                    {% else %}
                    <a href="#" class="card-link" data-movieid="{{ m.id }}" data-status="0">♡</a>
                    {% endif %}
                </div>
                <div class="panel-title pull-left"><b>{{ m.title }}</b></div>
                <div class="match-probability">With a probability of {{probability}} % u like the movie</div>

                {% for l in m.links %}
                    <div class="db-links pull-right">
                        <a href=https://movielens.org/movies/{{ l.movie_id }}>
                            <img src="{{ url_for('static', filename='movielens-logo-white.svg') }}" alt="Movielens"> 
                        </a>
                        <a href=http://www.imdb.com/title/tt{{ l.imdb_id }}>
                            <img src="{{ url_for('static', filename='IMDb.png') }}" alt="IMDb">
                        </a>
                        <a href=https://www.themoviedb.org/movie/{{ l.tmdb_id}}>
                            <img src="{{ url_for('static', filename='TMDB.png') }}" alt="TMDB">
                        </a>
                    </div>
                {% endfor %}

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                
                <img src="{{ m.poster_path }}"/>

                <div class="movie-information">    
                    <p>{{m.blurb}}</p>

                    <br>
                    <p>
                        {% for g in m.genres %}
                            <span class="label label-genre">{{ g.genre }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {% for t in tags %}
                            <span class="label label-tag">{{ t }}</span>
                        {% endfor %}
                    </p>
    
                    <p>
                        <b>Runtime: {{ m.runtime }} minutes</b>
                    </p>

                    <div class="review-container">
                        <div class="review-header"> Reviews</div>
                        
                        <div class="picture-text">
                            {% for r in reviews %}
                            <div class="review-container"> 
                                
                                <p><b>{{r}}</b></p>
                                
                            </div> <!-- review-container -->
                            {% endfor %}
                        </div> <!-- picture-text -->

                    </div> <!-- review-container -->

                </div> <!-- movie-information -->       
            </div> <!-- panel-body -->

            {% if rating %}
            <div class="panel-footer">
                <div class="movie-rating">Rated:
                {% for i in range(1, rating+1) %}
                <a href="#" id="{{ m.id }}{{ i }}" class="card-link" data-movieid="{{ m.id }}" data-rating="{{ i }}">⭐</a>
                {% endfor %}
                {% for i in range(rating+1, 5+1) %}
                <a href="#" id="{{ m.id }}{{ i }}" class="card-link" data-movieid="{{ m.id }}" data-rating="{{ i }}">☆</a>
                {% endfor %} Stars
                </div>
                
                <div class="average-rating">
                    Average rating: {{ avg_rating }}
                </div>
            </div>
            {% else %}
            <div class="panel-footer">
                <div class="movie-rating">Rate:
                <a href="#" id="{{m.id}}1" class="card-link" data-movieid="{{ m.id }}" data-rating="1">☆</a>
                <a href="#" id="{{m.id}}2" class="card-link" data-movieid="{{ m.id }}" data-rating="2">☆</a>
                <a href="#" id="{{m.id}}3" class="card-link" data-movieid="{{ m.id }}" data-rating="3">☆</a>
                <a href="#" id="{{m.id}}4" class="card-link" data-movieid="{{ m.id }}" data-rating="4">☆</a>
                <a href="#" id="{{m.id}}5" class="card-link" data-movieid="{{ m.id }}" data-rating="5">☆</a> Stars
                </div>

                <div class="average-rating">
                    Average rating: {{ avg_rating }}
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<script>
    // Function to handle the click event on any rating link
    function rateMovie(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating = this.getAttribute('data-rating');
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/rating', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
                // Attach the event listener to each rating link
                var links = document.querySelectorAll('.movie-rating .card-link');
                for (var i = 0; i < links.length; i++) {
                    links[i].addEventListener('click', rateMovie);
                }
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('m=' + movieid + '&r=' + rating);
    }

    function updateRatingView(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating = this.getAttribute('data-rating');
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ratings', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
                // Attach the event listener to each rating link
                var links = document.querySelectorAll('.movie-rating .card-link');
                for (var i = 0; i < links.length; i++) {
                    links[i].addEventListener('click', rateMovie);
                    if(links[i].id!=elem.id) {
                        links[i].addEventListener("mouseenter", updateRatingView);
                    }
                }
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('m=' + movieid + '&r=' + rating);
    }

    function changeWatchlist(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var current_status = this.getAttribute('data-status');
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/watchlist_change', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
                // Attach the event listener to each rating link
                var links = document.querySelectorAll('.watchlist .card-link');
                for (var i = 0; i < links.length; i++) {
                    links[i].addEventListener('click', changeWatchlist);
                }
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('m=' + movieid);
    }

    function reverseChildren(parent) {
        for (var i = 1; i < parent.childNodes.length; i++){
            parent.insertBefore(parent.childNodes[i], parent.firstChild);
        }
    }

    function updateFilterView() {
        console.log("filterview function")
        var filterView = document.getElementById('filterView');
        filterView.innerHTML = ''; // Cle8ar previous content
    
        Object.keys(selectedOptions).forEach(function (category) {
    
            var values = selectedOptions[category];
            console.log("the values" + values)
    
            values.forEach(function (value) {
                var filterOption = document.createElement('div');
                filterOption.className = 'filterOption';
                filterOption.textContent = value;
                filterOption.name = category; 
                filterView.appendChild(filterOption);
                filterOption.onclick = function() {
                    // Handle selection of options 
                    var name = this.name; 
                    var value = this.textContent;
    
                    // Handle FilterView 
                    option = document.querySelector('option[value="'+value+'"][name="selected_'+name+'"]');  
                    option.selected = !option.selected;
                    this.remove();
                    list = selectedOptions[category]
                    if (list.includes(value)){
                        list.splice(list.indexOf(value),1)
                    }
    
                };
            });
        });
    }
    
    function getSelectedValues(selectId) {
        var selectedOptions = document.getElementById(selectId).selectedOptions;
        var values = [];

        for (var i = 0; i < selectedOptions.length; i++) {
            values.push(selectedOptions[i].value);
        }

        return values;
    }
    
    function toggleDropdown(category) {
        document.getElementById("myDropdown"+category).classList.toggle("show");
    }

    function filterFunction(category) {
        var input, filter, div, optionList, i;
        //console.log("myInput"+category);
        input = document.getElementById("myInput"+category);
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown"+category);
        optionList = div.getElementsByTagName("option");
        var matchedElements = [];

        for (i = 0; i < optionList.length; i++) {
            var txtValue = optionList[i].textContent || optionList[i].innerText;

            if (category == 'Title'){
                var description = optionList[i].dataset.description;

                if (txtValue.toUpperCase().indexOf(filter) > -1 || description.toUpperCase().indexOf(filter) > -1) {
                    optionList[i].style.display = "";
                    matchedElements.push(optionList[i]);
                } else {
                    optionList[i].style.display = "none";
                }

            }

            else {
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    console.log("other")
                    optionList[i].style.display = "";
                    matchedElements.push(optionList[i]); 
                } else {
                    optionList[i].style.display = "none";
                }
            }
        }

    }   
    
    function getSelectedValue(selector) {
        var selectedOptions = document.querySelectorAll(selector + ':checked');
        var values = [];
    
    
        if (selectedOptions.length == 0) {
            console.log("empty option")
            return '0';
        }
        // Check if a checked option exists
        else {
            selectedOptions.forEach(function (option) {
                values.push(option.value);
            });
            
            console.log(values)
            return values;
        } 
    
    }

    function ApplyFilter(user_id){
        // code sowas wie wenn null oder mit if nacch checked suchen 
        console.debug("FILTER BUTTON PRESSED")

        var tag = getSelectedValue('option[name="selected_Tag"]');
        var genre = getSelectedValue('option[name="selected_Genre"]');
        var number = getSelectedValue('option[name="selected_NrRec"]');
        var algorithm = getSelectedValue('option[name="selected_Algorithm"]');
        var include = getSelectedValue('input[name="include"]');
        var allFilters = getSelectedValue('option[name="all_filters"]');
        
        // selected options der titel in dem moment speichern zu der liste in der gesucht wird 
        // das sind dann nicht selected ones, sondern müssen die sein, die gefiltert werden in dem Moment 
        // wie löschen (mehrere items) wenn option weggeklickt wird dictionary? item keys konstrukt 
        var title = selectedOptions["Title"]

        console.debug("GET VALUES")
        console.debug(tag, genre, number, algorithm, title, include, allFilters)


        // Use Fetch to asynchronously send the rating to the server
        fetch('/filter', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'user_id=' + user_id + '&tag=' + tag + '&genre=' + genre + '&number=' + number + '&algorithm=' + algorithm + "&include=" + include + "&title=" + title,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            document.getElementById('container').innerHTML = data;
            console.log(data); // Process the server response here
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }


    // Attach event listeners for each category
    var categories = ["Title", "Tag", "Genre", "NrRec", "Algorithm"];
    categories.forEach(function (category) {
        var selectId = category + 'Dropdown';
        selectedOptions[category] = getSelectedValues(selectId);

        var categoryDropdown = document.getElementById(category + 'Dropdown');

        document.getElementById(selectId).addEventListener('change', function () {
            selectedOptions[category] = getSelectedValues(selectId);
            updateFilterView();
        });

        categoryDropdown.addEventListener('mousedown', function (event) {
            event.preventDefault();
            updateFilterView();

            var originalScrollTop = this.scrollTop;
            
            if (category == "NrRec" || category == "Algorithm"){
                limit_number = 0;
            } 

            else{
                limit_number = 2; 
            }
            
            // if option is clicked make it unselected
            if (event.target.selected == true){
                event.target.selected = !event.target.selected;
                selectedOptions[category] = getSelectedValues(selectId);
            }

            // if option is unselected ... 
            else if (event.target.selected == false){
                if (selectedOptions[category].length <= limit_number ){
                    event.target.selected = !event.target.selected;
                    selectedOptions[category] = getSelectedValues(selectId);
                }
            };

            setTimeout(() => {
                this.scrollTop = originalScrollTop;
            }, 0);

            this.focus();
            updateFilterView();
    });

        categoryDropdown.addEventListener('mousemove', function (event) {
            event.preventDefault();
        });
    });

    // Initial update
    updateFilterView();

    // pass the ids of the shown movies to pass to called functions for sorting
    var movie_ids = {{ movie_ids|safe }};


    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', rateMovie);
        links[i].addEventListener("mouseenter", updateRatingView);
    }

    var links = document.querySelectorAll('.watchlist .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', changeWatchlist);
    }

    var searchBar = document.getElementById('myInputTitle');

    var selectedOptions = {};
    
    
    // Event-Listener hinzufügen
    searchBar.addEventListener('keyup', function (event) {
      
      // input in filterview einfügen 
      if (event.keyCode === 13) {
        if(! selectedOptions["Title"].includes(searchBar.value) && selectedOptions["Title"].length <= 2){
        selectedOptions["Title"].push(searchBar.value)
        }
      }
    
      // wie damit umgehen? in update filter view wird nicht gespeichert, da nicht selected ist boolean? wenn 
      // geklickt wird?!
      // in dem moment für recommender speichern, welche optionen noch eingeblendet sind (durch suche )
      console.log(document.getElementById('TitleDropdown'))
      updateFilterView();
    });
    
    const sort_checkbox = document.getElementById("sort_mode");
    const sort_label = document.getElementById("sort_mode_label");
    var movie_list = document.getElementById("movie_list");
    const sort_by = document.getElementById("sort_by");
    var filter_text = document.getElementById('filter_text');

    // attach the listener to the check box for sorting ascending / descending
    sort_checkbox.addEventListener("change", () => {
        if (sort_checkbox.checked) {
            sort_label.textContent = "Descending";
            reverseChildren(movie_list);
        } else {
            sort_label.textContent = "Ascending";
            reverseChildren(movie_list);
        }
    });


    // this function was taken from an answer on StackOverflow from user allenhwkim: https://stackoverflow.com/a/47614491
    
    function setInnerHTML(elm, html) {
        elm.innerHTML = html;
        
        Array.from(elm.querySelectorAll("script"))
            .forEach( oldScriptEl => {
            const newScriptEl = document.createElement("script");
            
            Array.from(oldScriptEl.attributes).forEach( attr => {
                newScriptEl.setAttribute(attr.name, attr.value) 
            });
            
            const scriptText = document.createTextNode(oldScriptEl.innerHTML);
            newScriptEl.appendChild(scriptText);
            
            oldScriptEl.parentNode.replaceChild(newScriptEl, oldScriptEl);
        });
    }

    // attach listener to select for changing the thing to sort by
    sort_by.addEventListener("change", () => {
        // make a request to call a python function that takes care of the sorting
        // so that the movies part can be rendered again

        event.preventDefault(); // Prevent the default anchor action

        var sort_by_value = sort_by.options[ sort_by.selectedIndex ].value;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/sort_by', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        var parameters = window.location.search

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                setInnerHTML(movie_list, xhr.responseText);
                //movie_list.innerHTML = xhr.responseText;
                movie_list = document.getElementById("movie_list");

            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        if(typeof new_movie_ids !== 'undefined') {
            movie_ids = new_movie_ids;

        }
        // Send the request with the selected sorting method
        xhr.send('s=' + sort_by_value + '&type=' + window.location.pathname + '&movie_ids=' + movie_ids + '&' + parameters);

        
    });

    
    // document.getElementById('filter_form').addEventListener("click", function() {
    //     event.preventDefault(); // Prevent the default anchor action
    //     this.disabled = true;
    //     this.style.color = "#1e1e1e"
    //     filter_text.textContent = "Filtering...";

    //     var v = document.getElementById("genres").selectedOptions;
    //     var genres = Array.from(v).map(({ value }) => value);
    //     var v = document.getElementById('tags').selectedOptions;
    //     var tags = Array.from(v).map(({ value }) => value);
    //     var elem = this;

    //     // Create an AJAX request
    //     var xhr = new XMLHttpRequest();
    //     xhr.open('POST', '/filter', true);
    //     xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    //     // Handle the response
    //     xhr.onload = function() {
    //         if (xhr.status === 200) {
    //             elem.disabled = false;
    //             elem.style.color = "black"
    //             filter_text.textContent = "Apply filters";
    //             window.history.pushState('page2', 'Title', window.location.pathname + '?genres=' + genres + '&tags=' + tags);
                
    //             setInnerHTML(movie_list, xhr.responseText);
    //             // movie_list.innerHTML = xhr.responseText;
    //             movie_list = document.getElementById("movie_list");
                
                
    //         } else {
    //             alert('Request failed. Returned status of ' + xhr.status);
    //             elem.disabled = false;
    //             elem.style.color = "black"
    //             filter_text.textContent = "Apply filters";
    //         }
    //     };


    //     var request_parameters = 'type=' + window.location.pathname

    //     if (genres.length > 0) {
    //         request_parameters += '&genres=' + genres
    //     }

    //     if (tags.length > 0) {
    //         request_parameters += '&tags=' + tags
    //     }

    //     // Send the request with the parameters
    //     xhr.send(request_parameters);
        
    // });
        




</script>

{% endblock %}
