{% extends "flask_user_layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<!-- parameters: m,tags,rating,watchlisted,avg_rating,probability -->

<div class="movie-panel panel">
        
        <div class="movie-watchlist watchlist pull-left">
            {% if watchlisted%}
            <a href="#" class="card-link" data-movieid="{{ m.id }}" data-status="0">♥</a>
            {% else %}
            <a href="#" class="card-link" data-movieid="{{ m.id }}" data-status="0">♡</a>
            {% endif %}
        </div>
        <div class="movie-title"><b>{{ m.title }}</b></div>
        <div class="movie-probability"><b>{{probability}}% Match</b></div>
        <div class="movie-avg">
            {{ avg_rating | round(2) }}/5
        </div>
        <div class="clearfix"></div>
        <hr>

        {% for l in m.links %}
            <div class="movie-links pull-left">
                <a href=https://movielens.org/movies/{{ l.movie_id }}>
                    <img src="{{ url_for('static', filename='movielens-logo-white.svg') }}" alt="Movielens"> 
                </a>
                <a href=http://www.imdb.com/title/tt{{ l.imdb_id }}>
                    <img src="{{ url_for('static', filename='IMDb.png') }}" alt="IMDb">
                </a>
                <a href=https://www.themoviedb.org/movie/{{ l.tmdb_id}}>
                    <img src="{{ url_for('static', filename='TMDB.png') }}" alt="TMDB">
                </a>
            </div>
        {% endfor %}


        {% if rating %}
        <div class="movie-ratings ratings-div">
            <div class="movie-rating">Rated:
            {% for i in range(1, rating+1) %}
            <a href="#" id="{{ m.id }}{{ i }}" class="card-link" data-movieid="{{ m.id }}" data-rating="{{ i }}">⭐</a>
            {% endfor %}
            {% for i in range(rating+1, 5+1) %}
            <a href="#" id="{{ m.id }}{{ i }}" class="card-link" data-movieid="{{ m.id }}" data-rating="{{ i }}">☆</a>
            {% endfor %} Stars
            </div>

        </div>
        {% else %}
        <div class="movie-ratings ratings-div">
            <div class="movie-rating">Rate:
            <a href="#" id="{{m.id}}1" class="card-link" data-movieid="{{ m.id }}" data-rating="1">☆</a>
            <a href="#" id="{{m.id}}2" class="card-link" data-movieid="{{ m.id }}" data-rating="2">☆</a>
            <a href="#" id="{{m.id}}3" class="card-link" data-movieid="{{ m.id }}" data-rating="3">☆</a>
            <a href="#" id="{{m.id}}4" class="card-link" data-movieid="{{ m.id }}" data-rating="4">☆</a>
            <a href="#" id="{{m.id}}5" class="card-link" data-movieid="{{ m.id }}" data-rating="5">☆</a> Stars
            </div>
    
            
        </div>
        {% endif %}
        <hr>
        <hr>


    <div class="movie-body">
        
        <img src="{{ m.poster_path }}"/>

        <div class="movie-information">    
            <p>{{m.blurb}}</p>

            <br>
            <p>
                {% for g in m.genres %}
                    <span class="label label-genre">{{ g.genre }}</span>
                {% endfor %}
            </p>
            <p>
                {% for t in tags %}
                    <span class="label label-tag">{{ t }}</span>
                {% endfor %}
            </p>

            <p>
                <b>Runtime: {{ m.runtime }} minutes</b>
            </p>

            
        </div> <!-- movie-information -->       
    </div> <!-- panel-body -->


    <hr style="margin-top: 10px; margin-bottom: 10px;">

    <div class="movie-review-container">
        <div class="review-header"> Reviews</div>
        
        <div class="picture-text">
            {% for r in m.reviews %}
            <div class="review-container"> 
                {% markdown %}
                {{r.review }}
                {% endmarkdown %}       
                
            </div> <!-- review-container -->
            {% endfor %}
        </div> <!-- picture-text -->

    </div> <!-- review-container -->

    <hr>

    <div class="movie-video-container">
        {% for video_link in m.video_links %}
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{video_link.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {% endfor %}
    </div>

    <hr>

    <div class="recommendation-class" class="panel">
        ><h2>Similar movies</h2>
        <div class="recommendation-row">
            {% for movie in similar_movies %}
                <div class="movie-view">
                    <a href="{{ url_for('movie', id=movie.id) }}">
                        <img src="{{ movie.poster_path }}" alt="Poster for {{movie.title}}" width="150vw"> 
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>



</div>





{% endblock %}