{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
            </div>

            <div class="panel-footer">Rate:
                <select id="rating_{{ m.id }}" class="card-link">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button onclick="rateMovie('{{ m.id }}')">Submit Rating</button>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function rateMovie(movieId) {
        var rating = document.getElementById('rating_' + movieId).value;

        // Verwenden Sie Fetch, um die Bewertung asynchron an den Server zu senden
        fetch('/rate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'movie_id=' + movieId + '&rating=' + rating,
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            console.log(data); // Hier können Sie die Serverantwort verarbeiten
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>

{% endblock %}