{% extends "flask_user_layout.html" %}
{% block content %}

<style>
    .cf img {float:left;}
    .cf div {float:left;}
    .dyno div {width:75%;}
    .dyno img {width:25%; padding-right: 5%;}
</style>

<div class="container">
    <label>
        Please choose one or more genres:
        <select name="genres" multiple size="4" form="filter_form">
            {% for g in genres %}
                <option value="{{ g[0] }}">{{ g[0] }}</option>
            {% endfor %}
        </select>
    </label>

    <label>
        Please choose one or more tags:
        <select name="tags" multiple size="4" form="filter_form">
            {% for t in tags %}
                <option value="{{ t[0] }}">{{ t[0] }}</option>
            {% endfor %}
        </select>
    </label>

    <form id="filter_form" action="filter" method="GET">
        <input type="submit"/>
    </form>
</div>
  

<div class="container">
    <h2>Movies</h2>

    {% for m,tags in movies_and_tags %}
        <div class="panel panel-default">
            
            <div class="panel-heading">
                <div class="panel-title pull-left"><b>{{ m.title }}</b></div>
                <div class="panel-title pull-right">{{ m.release_date }}</div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="cf dyno">
                    <img src="{{ m.poster_path }}"/>
                    <div>    
                        {{m.blurb}}
                    </div>    
                </div>

                <p>
                    {% for l in m.links %}
                        <span class="label label-default"><a href=https://movielens.org/movies/{{ l.movie_id }}>Movielens</a></span>
                        <span class="label label-default"><a href=http://www.imdb.com/title/tt{{ l.imdb_id }}>IMDB</a></span>
                        <span class="label label-default"><a href=https://www.themoviedb.org/movie/{{ l.tmdb_id}}>TMDB</a></span>
                    {% endfor %}
                </p>
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <p>
                    {% for t in tags %}
                        <span class="label label-default">{{ t }}</span>
                    {% endfor %}
                </p>

                <p>
                    <b>Runtime: {{ m.runtime }} minutes</b>
                </p>
            </div>
              <div class="panel-footer">Rate:
                  <a href={{ url_for('rate_movie')}}?m={{ m.id}}&r=1 class="card-link">1</a>
                  <a href={{ url_for('rate_movie')}}?m={{ m.id}}&r=2 class="card-link">2</a>
                  <a href={{ url_for('rate_movie')}}?m={{ m.id}}&r=3 class="card-link">3</a>
                  <a href={{ url_for('rate_movie')}}?m={{ m.id}}&r=4 class="card-link">4</a>
                  <a href={{ url_for('rate_movie')}}?m={{ m.id}}&r=5 class="card-link">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
